.Launches {
}
.clearFilters {
  padding-left: 10px;
  color: blue;
  cursor: pointer;
}
.missionName {
  padding-left: 5px;
  padding-right: 10px;
  width: 100px;
}
.image {
  width: 40px;
  padding-top: 10px;
  padding-left: 10px;
}
.details {
  width: 1200px;
  padding-right: 25px;
}
.actions {
  padding-left: 35px;
}
.filters {
  padding: 10px 10px 10px 10px;
}
.inputs {
  padding-left: 10px;
  margin: 10px 10px 10px 10px;
  height: 20px;
}
table {
  padding-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding-left: 25px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
